.leftSide {
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}
.leftSide .toolbar {
    display: flex;
    margin-left: 0.25rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background: #ff9c9c;
    flex-direction: column;
    align-items: center;
}

.rightSide {
    display: flex;
    position: fixed;
    right: 0px;
    top: 0px;
    align-items: flex-start;
}
.rightSide .openBT {
    margin: .25rem;
    padding: .25rem .5rem;
    border: none;
    border-radius: .25rem;
    font-size: 1.5rem;
    cursor: pointer;
}