.leftSide {
    display: flex;
    position: fixed;
    left: 0px;
    top: 50%;
    transform: translate(0px, -50%);
    align-items: center;
}

.rightSide {
    display: flex;
    position: fixed;
    right: 0px;
    top: 0px;
    align-items: flex-start;
}