
.rightPanel {
    width: 20rem;
    height: calc(100vh - 0.5rem);
    border-radius: 1rem;
    margin: 0.25rem 0.25rem 0.25rem 0.5rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.rightPanel::after {
    content: '';
    position: absolute;
    /* left: 0; */
    width: .25rem;
    height: 100%;
    /* background-color: #e5ebf0; */
    cursor: ew-resize;
}